.download-container {
  width: 100%;
}

.download-button {
  color: #000;
  background-color: #AADFED;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;

  margin-top: 1rem;
  padding: 12px;
  
  width: 100%;
  
  border: 2px solid #000;
  box-shadow: 4px 4px 0 #000;
  outline: none;
}

.download-button:active {
  transition: all 0.3ms;
  box-shadow: 2px 2px 0 #000;
  transform: scale(.995, .995);
}

.download-wait-text {
  color: #000;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;

  margin-top: 1rem;
  padding: 12px;
}